/* ====================== LOGIN PAGE ====================== */

.loginPane {
    -fx-background-color: rgba(224, 227, 233, 0.8);
    -fx-text-fill: black;
}
.label {
    -fx-text-fill: rgb(0, 0, 0);
}