.sideBar{
    -fx-background-color: #ffffff;
    -fx-text-fill: rgb(43, 43, 43);
}
.button, .file-chooser-button {
    -fx-background-color: #af2323;
    -fx-border-width: 0;
}

.button:hover, .file-chooser-button:hover {
    -fx-background-color: #db3030;
}

/*Test*/
.notYourMove {
    -fx-background-color: #864c4c;
}