/* Background and general */
.root {
    -fx-background-color: #f4f4f4;
}

/* Profile Banner */
.profile-banner {
    -fx-background-color: linear-gradient(to bottom right, #ff6f61, #ff5252);
}

/* Profile Image and Drop Shadow */
.profile-card {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0.3, 0, 4);
}

/* Input Fields */
.field, .field .content{
    -fx-background-color: #eeeeee;
    -fx-text-fill: #333;
    -fx-prompt-text-fill: #6b6b6b;
    -fx-border-color: #dc868c;
}
s
/* Buttons */
.button {
    -fx-background-color: #ff5252;
}

.button:hover {
    -fx-background-color: #ff6f61;
}


.text-title {
    -fx-font-size: 26px;
    -fx-fill: #333;
    -fx-font-weight: bold;
}

.text-subtitle {
    -fx-font-size: 16px;
    -fx-fill: #666;
}

.usernameText {
    -fx-font-size: 14px;
    -fx-fill: #666;
}
