/*Only include things that change*/
.background {
    -fx-background-color: rgb(212, 215, 223);
}
.section{
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-effect: dropshadow(gaussian, #89898984, 10, 0, 0, 4); /* Added shadow for depth */

}
.label {
    -fx-text-fill: rgb(0, 0, 0);
}
Text {
    -fx-fill: black;
}
.error {
    -fx-text-fill: #902929;
}
.scrollBackground{
    -fx-background-color: rgb(255, 255, 255);
}
.text-primary {
    -fx-fill: #757575; /* Light gray color for username in light mode */
}