/* ====================== BUTTON STYLES ====================== */

.button, .file-chooser-button, .change-password-button {
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease;
}

.button, .file-chooser-button {
    -fx-background-color: #5c6bc0;
}

.button:hover, .file-chooser-button:hover {
    -fx-background-color: #3f51b5;
}

.change-password-button {
    -fx-background-color: #f44336;
}

.change-password-button:hover {
    -fx-background-color: #d32f2f;
}