/* dark-theme.css */
.root {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #444444;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.combo-box, .check-box {
    -fx-background-color: #444444;
    -fx-text-fill: white;
}

.combo-box .arrow {
    -fx-background-color: #888888;
}

.tooltip {
    -fx-background-color: #444444;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #555555;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #bbbbbb;
}
