/* Main sections */
.user-stats, .friends-space, .current-content {
    -fx-min-width: 150px;
    -fx-max-width: 300px;
}

/* Main Content Section */
.current-content {
    -fx-min-width: 400px;
}

/* Buttons */
.button {
    -fx-effect: dropshadow(gaussian, #000000, 4, 0, 0, 2); /* Added shadow to buttons */
}

.separator {
    -fx-background-color: #36393f;
}
