.sideBar{
    -fx-background-color: #2f3136;
    -fx-text-fill: white;
}
.button, .file-chooser-button {
    -fx-background-color: #af2323;
    -fx-border-width: 0;
}

.button:hover, .file-chooser-button:hover {
    -fx-background-color: #db3030;
}

.buttonIcon {
    -fx-padding: 8px 18px 8px 18px;
}

.buttonIcon.home {
    -fx-padding: -3px 18px 8px 18px;
}

.buttonIcon.chess {
    -fx-padding: -3px 7px -3px 7px;
}

.buttonIcon.logout {
    -fx-padding: -3px 7px 8px 18px;
}

/*Test*/
.notYourMove {
    -fx-background-color: #864c4c;
}
