.sideBar{
    -fx-background-color: #af2323;;
    -fx-text-fill: white;
}
.buttonIcon {
    -fx-background-color: #460005;
    -fx-border-width: 0;
}

.buttonIcon:hover {
    -fx-background-color: #562023;
}

.buttonIcon {
    -fx-padding: 8px 18px 8px 18px;
}

.buttonIcon.home {
    -fx-padding: -3px 18px 8px 18px;
}

.buttonIcon.chess {
    -fx-padding: -3px 7px -3px 7px;
}

.buttonIcon.logout {
    -fx-padding: -3px 7px 8px 18px;
}

/*Test*/
.notYourMove {
    -fx-background-color: #864c4c;
}
