/* Profile Banner */
.profile-banner {
    -fx-background-color: linear-gradient(to bottom right, #d32f2f, #f44336);
    -fx-background-radius: 20;
}

/* Profile Image and Drop Shadow */
.profile-image {
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.4), 15, 0.3, 0, 0);
}
/*

/*Overriden */
.biggerText { -fx-font-size: 26px;}